# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# PlatformIO các file biên dịch tạm và thư viện tải về
.pio/
.pioenvs/
.piolibdeps/

# Các file cấu hình của VS Code/CLion (tùy máy)
.vscode/
.idea/
cmake-build-*/
CMakeListsPrivate.txt
CMakeCache.txt
CMakeFiles/

# File log và hệ thống
*.log
.DS_Store
Thumbs.db

# Nếu bạn có file chứa mật khẩu Wi-Fi/Firebase riêng
include/secrets.h
